<!-- <p>page-country-weather works!</p> -->
<div>
    
    <div *ngIf="!weatherData">
        <h3>City Not Found </h3>
    </div>

    <div>
    <h2>{{ weatherData?.name }}</h2>
    <button type="button" [routerLink]="['/']">Back</button>
    </div>
    <br>
    <div style="border: 1px solid black; padding: 1px 20px; width: 300px; text-align: center;"
        *ngIf="weatherData">
        <h3>{{ weatherData?.description | titlecase }}</h3>
        <img src="{{ 'https://openweathermap.org/img/wn/' + weatherData.icon + '@2x.png'}}">
        
        <h4 style="margin: 5px;">Temperature</h4>
        <p style="font-size: x-large; margin: 0px;">{{ weatherData?.temp }}</p>
        <p style="font-size:small; margin: 5px">{{ '(feels-like ' + weatherData?.feels_like + ')' }}</p>
        
        <table style="margin: 0 auto;">
            <tr>
                <th>Min</th>
                <th>Max</th>
            </tr>
            <tr>
                <td style="padding: 0px 10px">{{ weatherData?.temp_min }}</td>
                <td style="padding: 0px 10px">{{ weatherData?.temp_max }}</td>
            </tr>
        </table>
    </div>

</div>